@font-face {
    font-family: 'Black Han Sans', sans-serif;
    src: url('/assets/font/Black_Han_Sans/BlackHanSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
/* .html.sap-desktop .sapMGT:hover:not(.sapMGTPressActive) .sapMGTWithImageHoverOverlay {
    background: rgba(234,236,238,0) !important;
}
.sapMGTWithImageHoverOverlay{
    background: rgba(234,236,238,0) !important;
} */
.mainImage{
    height: 500px !important;
    width: 1500px !important ;
    /* z-index: 999999; */
}
/* .sapMImg .sapUiMediumMarginTop .sapUiMediumMarginBegin:hover{
    cursor: default !important;
    z-index: 9999999;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
} */
/* .sapMGT:hover {
    opacity: 0;
} */
.sapMSTWrapper:hover{
    cursor: default !important;
}
.sapMSTWrapper{
    height: 100% !important;
}
.sizemanage{
    height: 100% !important;
    width:  100% !important;
}
.btnCart{
    align-items: right;
}
.notoSansfont{
    /* font-family: 'Black Han Sans', sans-serif; */
    display: inline-block;
}
.font_title{
    font-size: 25px;
    font-family: 'Black Han Sans', sans-serif;
    src: url('/assets/font/Black_Han_Sans/BlackHanSans-Regular.ttf') format('ttf');
    /* font-family: 'Sunflower', sans-serif; */

    font-weight: bold;
}
.font_content{
    font-size: 25px;
    /* font-family: 'Black Han Sans', sans-serif; */
    font-weight: bold;
}
/* .sapMGTWithImageHoverOverlay:hover{
    opacity: 0 !important;
} */